body {
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
